/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Yellow background color */
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #f9a825; /* Yellow Navbar Background */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-right a {
    text-decoration: none;
    color: #333; /* Dark text color */
}
.navbar-left{
    display: flex;
    cursor: pointer;

}
.navbar-left h5{
    padding: 10px;
    border: 2px solid;
}

/* Search Bar Styles */
.search-bar {
    background-color: #777777; /* Yellow Search Bar Background */
    padding: 10px;
}

.search-bar p {
    color: #333; /* Dark text color */
}

.search-bar input {
    padding: 5px;
    border: 2px solid;
}

.search-bar button {
    border: 2px solid;
    padding: 5px;
}

.movie-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

p{
    display: inline-block;
    max-width: 500px;
}

.movie-container{
    display: inline-block;
    margin: 10px;
    border: 5px solid #333;
    text-align: center;
    background: #f9a825;
}

.single-movie-container{
    text-align: left;
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
}

.result-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    gap: 50px;
}

.movie-section-title h1{
    color: #f9a825;
    padding-left: 20px;
}

section img{
    padding: 30px;
}
nav img {
padding: 5px;
margin: 5px;
}